
/* Fila */

	.fila {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		align-items: stretch;
	}

		.fila > * {
			box-sizing: border-box;
		}

		.fila > .col-1 {
			width: 8.3333333333%;
		}

		.fila > .col-2 {
			width: 16.6666666667%;
		}

		.fila > .col-3 {
			width: 25%;
		}

		.fila > .col-4 {
			width: 33.3333333333%;
		}

		.fila > .col-5 {
			width: 41.6666666667%;
		}

		.fila > .col-6 {
			width: 50%;
		}

		.fila > .col-7 {
			width: 58.3333333333%;
		}

		.fila > .col-8 {
			width: 66.6666666667%;
		}

		.fila > .col-9 {
			width: 75%;
		}

		.fila > .col-10 {
			width: 83.3333333333%;
		}

		.fila > .col-11 {
			width: 91.6666666667%;
		}

		.fila > .col-12 {
			width: 100%;
		}

		.fila {
			margin-top: -1.25em;
			margin-left: -1.25em;
		}

			.fila > * {
				padding: 1.25em 0 0 1.25em;
			}

		@media screen and (max-width: 736px) {

			.fila {
				display: flex;
				flex-wrap: wrap;
				box-sizing: border-box;
				align-items: stretch;
			}

				.fila > * {
					box-sizing: border-box;
				}

				.fila > .col-1-small {
					width: 8.3333333333%;
				}

				.fila > .col-2-small {
					width: 16.6666666667%;
				}

				.fila > .col-3-small {
					width: 25%;
				}

				.fila > .col-4-small {
					width: 33.3333333333%;
				}

				.fila > .col-5-small {
					width: 41.6666666667%;
				}

				.fila > .col-6-small {
					width: 50%;
				}

				.fila > .col-7-small {
					width: 58.3333333333%;
				}

				.fila > .col-8-small {
					width: 66.6666666667%;
				}

				.fila > .col-9-small {
					width: 75%;
				}

				.fila > .col-10-small {
					width: 83.3333333333%;
				}

				.fila > .col-11-small {
					width: 91.6666666667%;
				}

				.fila > .col-12-small {
					width: 100%;
				}

				.fila {
					margin-top: -1.25em;
					margin-left: -1.25em;
				}

					.fila > * {
						padding: 1.25em 0 0 1.25em;
					}

		}
